
name: JUnit workflow - for PRs

on:
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Build with Maven (JUnit included)
        run: |
          mvn clean install
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          name: deploy-jar
          path: target/*.jar
